doctype html
html
  head(lang="en")
    title= title
    meta(http-equiv="content-type", content="text/html; charset=UTF-8")
    meta(name="description", content="")
  body
    header
      h1 #{__("Hello")}
    .container
      h3 Current Locale:
      | #{__.locale()}
      h3 Supported:
      for item, i in __.languages()
        li= item
            | 

    footer